<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MehType.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B54923942C9EC90C00EA4B81</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B54923A52C9EC90E00EA4B81</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B54923AF2C9EC90E00EA4B81</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
